@import "tailwindcss";

/* Fade In Up Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-in-out;
}

/* Fade In Down Animation */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 0.6s ease-in-out;
}

/* Fade In Left Animation */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-left {
  animation: fadeInLeft 0.8s ease-in-out;
}

/* Fade In Right Animation */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-right {
  animation: fadeInRight 0.8s ease-in-out;
}

/*!---Tailwind CSS Apply-------- */
@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-blue-400 via-purple-400 to-pink-400 bg-clip-text text-transparent inline-block;
  }

  .gradient-bg {
    @apply bg-gradient-to-r from-blue-400 via-purple-400 to-pink-400 text-white font-bold px-5 py-2 rounded-sm inline-block;
  }
  .gradient-back-button {
    @apply bg-gradient-to-r from-blue-400 via-purple-400 to-pink-400 text-white font-bold px-5 py-2 rounded-sm inline-block hover:scale-110 transition hover:opacity-70;
  }
}

/* Tailwind’s bg-clip-text requires display: inline ---->inline-block: Ensures the gradient is applied correctly.*/

/*!--- Custom CSS -------- */
/* Custom BG Grid Pattern */
.bg-grid-pattern {
  background-color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
  /*<---- Grid size */
}